Enter either email or username
<form action="/forgot" method="POST">
	Email:<br/>
	<input type="text" name="email"> <br/>
	<input type="submit" value="Submit">
</form>

<form action="/forgot" method="POST">
	Username:<br/>
	<input type="text" name="username"> <br/>
	<input type="submit" value="Submit">
</form>